# Avalanche Forecast: Snow Cleaning

In this notebook I am going to download the snow data and clean it as best I can. then combine it with the weather data

### Import tools

In [39]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
plt.style.use('seaborn')

plt.rcParams['figure.figsize'] = (12, 9)

### Import the data

In [40]:
snow = pd.read_csv("data/MWACSnowData.csv")
snow.head()

,DATE,SEASON,AVY_DANGER,AVY_CHARACTER,WET_DANGER,DRY_DANGER,WET_LOOSE,WET_SLAB,WIND_SLAB,STORM_SLAB,...,HST (CM),HS_CM,SETTLEMENT/MELT,Surf Temp (C),T-10 (C),T-20 (C),CURRENT TEMP,X24_HR_MAX,24HRMAX_SWING,24 HR MIN
0,12/18/10,2010/2011,2.0,DRY,0,2,0.0,0.0,2.0,0.0,...,NaN,40.0,1.0,-6.9,-5.0,-3.7,-9.0,-9.0,NaN,-14.0
1,12/19/10,2010/2011,1.0,DRY,0,1,0.0,0.0,1.0,0.0,...,3.5,42.0,0.0,-8.3,-4.8,-3.2,-14.0,-6.0,3.0,-14.0
2,12/20/10,2010/2011,1.0,DRY,0,1,0.0,0.0,1.0,0.0,...,NaN,40.0,2.0,-10.3,-6.2,-4.6,-13.0,-7.0,-1.0,-13.0
3,12/21/10,2010/2011,3.0,DRY,0,3,0.0,0.0,3.0,0.0,...,NaN,43.0,0.0,-4.4,-4.2,-2.9,-5.0,-5.0,2.0,-14.0
4,12/22/10,2010/2011,2.0,DRY,0,2,0.0,0.0,2.0,0.0,...,NaN,45.0,0.0,-5.3,-2.4,-1.7,-7.0,-4.0,1.0,-7.0

### Take a quick peek at the data

In [41]:
snow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 55 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATE                 1258 non-null   object
 1   SEASON               1258 non-null   object
 2   AVY_DANGER           1155 non-null   float64
 3   AVY_CHARACTER        1155 non-null   object
 4   WET_DANGER           1258 non-null   int64
 5   DRY_DANGER           1258 non-null   int64
 6   WET_LOOSE            1155 non-null   float64
 7   WET_SLAB             1155 non-null   float64
 8   WIND_SLAB            1155 non-null   float64
 9   STORM_SLAB           1155 non-null   float64
 10  CORNICE_FALL         1155 non-null   float64
 11  PERSISTENT_SLAB      1155 non-null   float64
 12  DEEP_SLAB            1155 non-null   float64
 13  DRY_LOOSE            1155 non-null   float64
 14  GLIDE_AVALANCHE      1155 non-null   float64
 15  LONG_SLIDING_FALL    1155 non-null   object
 16  AWND                 1228 non-null   float64
 17  PGTM                 263 non-null    float64
 18  PRCP                 1257 non-null   float64
 19  PRCP_ATTRIBUTES      1172 non-null   object
 20  PSUN                 1088 non-null   float64
 21  SNOW                 1257 non-null   float64
 22  FIVE_DAY_SNOWFALL    1248 non-null   float64
 23  SNOW_ATTRIBUTES      1172 non-null   object
 24  SNWD                 1257 non-null   float64
 25  SNWD_ATTRIBUTES      1172 non-null   object
 26  TMAX                 1257 non-null   float64
 27  TMAX_SWING           1255 non-null   float64
 28  TMAX_SWING_FROM_AVE  1246 non-null   float64
 29  TMAX_ATTRIBUTES      1172 non-null   object
 30  TMIN                 1257 non-null   float64
 31  TMIN_ATTRIBUTES      1172 non-null   object
 32  TSUN                 1089 non-null   float64
 33  TSUN_ATTRIBUTES      1033 non-null   object
 34  WDF5                 1228 non-null   float64
 35  WDF5_ATTRIBUTES      1172 non-null   object
 36  WSF5                 1228 non-null   float64
 37  WSF5_ATTRIBUTES      1172 non-null   object
 38  SKY CONDITION        879 non-null    object
 39  PRECIP TYPE/RATE     545 non-null    object
 40  FORM/SIZE            487 non-null    object
 41  HN24_CM              497 non-null    float64
 42  HW in Tube (MM)      348 non-null    float64
 43  H24W in Can (MM)     429 non-null    float64
 44  DENSITY (KG/M3)      370 non-null    float64
 45  HST (CM)             293 non-null    float64
 46  HS_CM                835 non-null    float64
 47  SETTLEMENT/MELT      794 non-null    float64
 48  Surf Temp (C)        832 non-null    float64
 49  T-10 (C)             880 non-null    float64
 50  T-20 (C)             877 non-null    float64
 51  CURRENT TEMP         882 non-null    float64
 52  X24_HR_MAX           877 non-null    float64
 53  24HRMAX_SWING        869 non-null    float64
 54  24 HR MIN            879 non-null    float64
dtypes: float64(38), int64(2), object(15)
memory usage: 540.7+ KB

We need to figure out what to do about all the null values

In [42]:
snow.describe()

,AVY_DANGER,WET_DANGER,DRY_DANGER,WET_LOOSE,WET_SLAB,WIND_SLAB,STORM_SLAB,CORNICE_FALL,PERSISTENT_SLAB,DEEP_SLAB,...,HST (CM),HS_CM,SETTLEMENT/MELT,Surf Temp (C),T-10 (C),T-20 (C),CURRENT TEMP,X24_HR_MAX,24HRMAX_SWING,24 HR MIN
count,1155.000000,1258.000000,1258.000000,1155.000000,1155.000000,1155.000000,1155.000000,1155.000000,1155.000000,1155.000000,...,293.000000,835.000000,794.000000,832.000000,880.000000,877.000000,882.000000,877.000000,869.000000,879.000000
mean,2.105628,0.418919,1.654213,0.290909,0.341126,1.763636,0.212121,0.001732,0.158442,0.003463,...,12.041127,109.429621,20.532746,-6.708954,-6.976591,-5.783010,-8.126757,-3.624344,0.098389,-10.651877
std,0.897287,0.863025,1.245064,0.694279,0.859041,1.209607,0.822680,0.058849,0.620285,0.093024,...,23.869419,54.320875,45.089376,6.573803,5.397727,4.585766,7.277300,8.322385,6.574261,7.875199
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-15.000000,-25.900000,-30.500000,-24.500000,-30.000000,-31.500000,-23.000000,-54.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,70.000000,0.000000,-11.000000,-10.000000,-8.700000,-13.000000,-9.000000,-3.000000,-16.000000
50%,2.000000,0.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,...,4.000000,115.000000,2.000000,-6.500000,-6.250000,-5.000000,-8.000000,-4.000000,0.000000,-10.000000
75%,3.000000,0.000000,3.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,...,11.500000,153.000000,6.875000,-1.000000,-2.600000,-2.000000,-3.000000,2.000000,4.000000,-5.000000
max,5.000000,4.000000,5.000000,4.000000,4.000000,5.000000,5.000000,2.000000,4.000000,3.000000,...,196.000000,238.000000,204.000000,16.000000,8.000000,8.100000,14.500000,22.000000,34.000000,14.000000

In [43]:

#converting the date to date time variable
snow["date"] = pd.to_datetime(snow["DATE"])

#drop the old date column
snow = snow.drop(["DATE"],axis=1)

#creating the year month and day columns
snow['year'] = pd.DatetimeIndex(snow['date']).year
snow['month'] = pd.DatetimeIndex(snow['date']).month
snow['day'] = pd.DatetimeIndex(snow['date']).day

### finding out the start date and end date of each seasons snow data

I manually looked through the data to find this:

2010/2011 season start: 2010-12-18 end: 2011-05-08

2011/2012 season start: 2012-01-05 end: 2012-05-05

2012/2013 season start: 2012-12-26 end: 2013-05-05

2013/2014 season start: 2013-12-15 end: 2014-04-28

2014/2015 season start: 2014-12-13 end: 2015-05-11

2015/2016 season start: 2016-01-18 end: 2016-04-17

2016/2017 season start: 2016-12-09 end: 2017-04-23

2017/2018 season start: 2017-12-12 end: 2018-04-24

2018/2019 season start: 2018-11-27 end: 2019-04-25

2019/2020 season start: 2019-01-04 end: 2020-03-29

### Write the cleaned data to the csv

In [44]:
snow.to_csv('data/snow_clean.csv')